.square {
  background-color: white;
  border: 1px solid #999;
  font-size: 24px;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.square:hover {
  background-color: rgb(218, 244, 255);
}
